* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.perf-cont {
  width: 1110px;
  margin: 0 auto;
}
.header {
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
}
.wrap {
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: relative;
  color: #656293;
  font-family: "Prosto One";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;

  line-height: normal;
  text-transform: capitalize;
}
.logo::before {
  content: "";
  position: absolute;
  right: 20px;
  top: -10px;
  width: 112px;
  height: 37px;
  background: url(../icon/logo.svg);
  display: inline-block;
}
.header-list {
  display: flex;
  gap: 20px;
}
.header-link {
  color: #181818;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  &:hover {
    text-decoration: underline;
  }
}
.btn-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-btn {
  color: #151515;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn-reg {
  background: none;
  border: none;
}
.btn-log {
  padding: 5px 23px;
  background-color: #656293;
  border: none;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
}
.header-content {
  position: relative;
  margin-top: 190px;
}
.header-title {
  position: relative;
  margin-bottom: 48px;
  width: 587px;
  color: #151515;
  font-family: Roboto;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  span {
    color: #656293;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.header-content::before {
  content: "";
  display: inline-block;
  /* left: -171px; */
  /* top: -124px; */
  top: -134px;
  right: -2px;
  position: absolute;
  width: 360px;
  background-image: url("../img/header.png");
  height: 451px;
}
.header-explore {
  color: #151515;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-explore::after {
  margin-left: 9px;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../icon/arrow.svg");
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 147px 0 65px 0;
  color: #000;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.title::before {
  justify-self: center;

  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(21, 21, 21, 0.1);
}
.hero-list {
  margin-top: 65px;
}
.hero-item {
  padding: 65px 0;
}
.hero-item-left {
  position: relative;
  align-items: center;
  display: flex;
  .text-wrapper {
    margin-left: 38px;
  }
  h3 {
    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  p {
    color: rgba(21, 21, 21, 0.6);
    text-align: justify;
    margin-top: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
  }
}
.hero-item-left::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -250px;
  display: block;
  width: 400px;
  height: 523px;
  border-radius: 0 50px 50px 0;
  background: #e5f4f6;
}
.hero-item-right {
  position: relative;
  align-items: center;
  display: flex;
  .text-wrapper {
    margin-right: 38px;
  }
  h3 {
    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  p {
    color: rgba(21, 21, 21, 0.6);
    text-align: justify;
    margin-top: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
  }
}
.hero-item-right::after {
  content: "";

  border-radius: 50px 0 0 50px;
  position: absolute;
  z-index: -1;
  right: -250px;
  display: block;
  width: 400px;
  height: 523px;
  background: #e5f4f6;
}

.perfomance {
  padding: 83px 0 66px 0;
  .title {
    padding: 0;
    margin-bottom: 68px;
  }
}

.perfomance-item {
  display: flex;
  border-radius: 13px;
  border: none;
  padding: 40px 52px 51px 52px;
  box-shadow: 0px 30px 84px 0px rgba(19, 10, 46, 0.08),
    0px 8px 32px 0px rgba(19, 10, 46, 0.07),
    0px 3px 14px 0px rgba(19, 10, 46, 0.03),
    0px 1px 3px 0px rgba(19, 10, 46, 0.13);
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 268px;
}
.perfomance-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 370px;
  background-image: url("../img/purposes.png");
  background-repeat: no-repeat;
  background-position: center;
}
.perfomance-title {
  color: #151515;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 13px;
}

.perfomance-text {
  color: rgba(21, 21, 21, 0.6);
  text-align: center;
  margin-top: 11px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

.perfomance-item::before {
  content: "";
  display: block;

  background-size: cover;
  width: 55px;
  height: 55px;
}

.comfort {
  order: 1;
}
.security {
  order: 2;
}
.booking {
  order: 3;
}

.crew {
  order: 4;
}

.crew::before {
  background-image: url("../icon/crew.svg");
}
.security::before {
  background-image: url("../icon/security.svg");
}
.booking::before {
  background-image: url("../icon/booking.svg");
}

.comfort::before {
  background-image: url("../icon/comfort.svg");
}

.luxury {
  padding: 66px 0;
  .title {
    padding: 0;
    margin-bottom: 69px;
  }
}
.luxury-list {
  display: flex;
  gap: 30px;
}
.luxury-item {
  padding: 14px;
  text-align: center;
  width: 255px;
  height: 251px;
  box-shadow: 0px 30px 84px 0px rgba(19, 10, 46, 0.08),
    0px 8px 32px 0px rgba(19, 10, 46, 0.07),
    0px 3px 14px 0px rgba(19, 10, 46, 0.03),
    0px 1px 3px 0px rgba(19, 10, 46, 0.13);
  border-radius: 13px;
  img {
    border-radius: 12px;
  }
  h3 {
    color: #151515;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.membership {
  padding-bottom: 218px;
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.wrapper-item:nth-child(2) {
  border-radius: 20px;
}
.wrapper-item:nth-child(3) {
  border-radius: 0px 20px 20px 0px;
}
.wrapper-item {
  transition: all 0.3s ease;
  width: 400px;
  height: 572px;
  padding: 24px;
  border-radius: 20px 0px 0px 20px;
  background: #f5f5f5;
  h3 {
    color: #151515;

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(40 / 32);
  }
  p {
    color: #a9a9aa;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px dashed #a9a9aa;

    margin-top: 24px;
    li {
      /* list-style-type: decimal; */
      display: flex;
      position: relative;
      margin-left: 34px;
      color: #151515;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &::before {
        content: "";
        position: absolute;
        left: -34px;
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../icon/check.svg");
      }
    }
  }
  span {
    margin-top: 65px;
    color: #161616;
    display: block;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(40 / 32);
  }
  button {
    display: block;
    margin: 14px auto 0 auto;
    width: 352px;
    height: 64px;
    border-radius: 12px;
    background-color: #656293;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(40 / 22);
  }
}

.wrapper-item:hover {
  background-color: #656293;
  transform: scale(1.1);
  h3 {
    color: #fff;
  }
  ul {
    li {
      color: #fff;
      &::before {
        background-image: url("../icon/schechhv.svg");
      }
    }
  }
  span {
    color: #fff;
  }
  button {
    color: #000;
    background-color: #fff;
  }
}

.footer {
  background-color: #656293;
  padding: 50px 0 15px 0;
  .logo {
    color: white;
    &::before {
      background-image: url("../icon/logowhite.svg");
    }
  }
}

.footer-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #cacaca;
}
.footer-list {
  display: flex;
  gap: 30px;
  li {
    color: rgba(255, 255, 255, 0.7);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}

.footer-nav {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  p {
    color: rgba(255, 255, 255, 0.7);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}
